{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% if users %}
            {% for user in users %}
        <a class="ml-2" href="{{ url_for('users.activate_pending_account', user_id=user.id) }}">
                <div class="row accounts">
                    <div class="col-12 account">
                        {% for image_path in images %}
                            {% if image_path['username'] == user.username %}
                                <img class="rounded-circle account-img" src="{{ image_path['image_path'] }}">
                            {% endif %}
                        {% endfor %}
                        <div class="account-details">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
        <h1>No unactive users</h1>
        {% endif %}
    </div>



</div>
{% endblock content %}
{% block script %}
<script>


</script>
{% endblock script %}